<a href="https://colab.research.google.com/github/estabillomigui/CPE009A-OOP/blob/main/demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#python indentation

In [ ]:
if 5>2:
    print("5 is greater than 2")

5 is greater than 2

# python comments

In [ ]:
#comment
print("hello world")

#python variable

In [ ]:
#single variable with a value
x=1
#multiple variables with multiple values
a,b,c=0,-1,2

print(a)
print(b)
print(c)
print(x)

b="Sally"

print(b)

0
-1
2
1
Sally

#python casting

In [ ]:
b="Sally"
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

#type() function

In [ ]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#single or double quote

In [ ]:
y='John'
print(y)

y="john"
print(y)

John
john

#multiple variables

In [ ]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

#one value to multiple variables

In [ ]:
x=y=z="four"

print(x)
print(y)
print(z)

four
four
four

#output variable

In [ ]:
x="enjoyable"
print("python programming is "+ x)

python programming is enjoyable

#arithmetic operations

In [13]:
x=5;
y=3
print(x+y)

sum=x+y
sum

8

8

#assignment operators

In [14]:
a,b,c=0,-1,6
c%=3
c

0

#comparison operators

In [15]:
x=1
y=1

x==y

True

#logical operator

In [16]:
x=1
x<5 and x<10

True

#identity operators

In [17]:
a,b,c=0,-1,5
a is c
a is a

True