<a href="https://colab.research.google.com/github/estabillomigui/CPE009A-OOP/blob/main/demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# boolean

In [3]:
print(bool("Hello"))
print(bool(15))

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

True
True

False

# functions can return a boolean

In [13]:
def myFunction():
  return True

print(myFunction())

if myFunction():
  print("YES!")
else:
  print("NO!")

print(10>9)

a=6
b=7

print(a==b)
print(a!=a)

True
YES!
True
False
False

# python operators

In [22]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

# python bitwise operators

In [30]:
a=60
b=13

print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

12
61
49
-61
240
15

# python assignment operators

In [35]:
x=1

x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)

4
1
3
1.0
1.0

# logical operator

In [41]:
y=60
z=13

print(y>z)
print(z>y)
print(y>z and z>y)
print(y>z or z>y)
print(not(y>z))

True
False
False
True
False

# identity operator

In [45]:
print(y is z)
print(y is not z)

False
True

# looping statements (for loop)

In [48]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", 'Thursday', "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

# break statement

In [53]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", 'Thursday', "Friday", "Saturday"]

for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

# break statement (Display thursday only)

In [58]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", 'Thursday', "Friday", "Saturday"]

for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

# loop in a string

In [54]:
for x in "week":
  print(x)

w
e
e
k

# range function

In [55]:
for x in range(2,6):
  print(x)

2
3
4
5

# nested loop

In [59]:
adjective=["red", "big", "tasty"]
fruits=["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# while loops

In [60]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

# while loops (with break)

In [61]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

# while loops (with continue)

In [64]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6